.build-section {
  background-color: #012f34;
  background-image: url("../images/hero-bg3.svg");
  background-repeat: no-repeat;
  background-size: 100px 200px;
  background-position: right bottom;
  padding: 140px 0;
}
.every-content-wrapper {
  display: flex;
  justify-content: space-between;
}
.first-content > img {
  margin-bottom: 54px;
}
.first-content > h2 {
  max-width: 445px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: white;
}
.second-content {
  margin-bottom: 250px;
  max-width: 540px;
}
.main-list {
  max-width: 540px;
  height: 50px;
  margin-top: 90px;
}
.main-item {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.main-item:last-of-type{
  margin-bottom: 0;
}
.main-item-word-wrapper>h4 {
  margin-left: 22px;
  max-width: 181px;
  margin-bottom: 16px;
  color: #f67e7e;
}
.main-item-word-wrapper>p {
  margin-left: 22px;
  max-width: 450px;
  height: 50px;
  color: white;
}
@media (max-width:765px){
  .first-content img{
    margin-bottom: 32px;
  }
  .first-content>h2{
    font-size: 32px;
    line-height: 32px;
    max-width: 445px;
    height: 100px;
  }
  .build-section{
    padding: 136px 0;
    background-position: right top;
  }
  .main-item{
    max-width: 473px;
  }
  .main-item img{
    margin-bottom: 16px;
  }
  .main-item div h4{
    margin-bottom: 8px;
    display: inline-block;
  }
  .main-item-word-wrapper p{
    max-width: 358px;
    height: 75px;
  }
  .every-content-wrapper{
    flex-direction: column;
    padding-left: 24px;
  }
}
@media (max-width:545px){
  .container{
    padding: 0;
  }
  .first-content h2{
    max-width: 240px;
    height: 196px;
  }
  .second-content{
    height: 693px;
    margin-bottom: 390px;
  }
  .main-item{
    text-align: center;
    flex-direction: column;
  }
}