.site-header {
  padding: 71px 0 133px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo-wrapper {
  display: flex;
  align-items: center;
  gap: 80px;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-link {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: white;
  transition: color 0.3s;
}
.header-link:hover {
  color: #f67e7e;
}
.header-contact-link {
  max-width: 153px;
  padding: 9px 20px 11px;
  border: 2px solid #fff;
  border-radius: 30px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  transition: all 0.3s;
}
.navbar-contact-link{
  transition: all 0.5s;
  max-width: 153px;
  padding: 9px 20px 11px;
  border: 2px solid #fff;
  border-radius: 30px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}
.header-contact-link:hover {
  background-color: white;
  color: #002529;
}
.navbar-contact-link:hover{
  background-color: white;
  color: #002529;
}
.humburger-btn{
  border: none;
  background-color: transparent;
  display: none;
}
.navbar-wrapper{
  background-color: #00000079;
  position: fixed;
  inset: 0px;
  z-index: 9999;
  backdrop-filter: blur(1px);
  opacity: 0;
  transform: scale(0);
}
.show-wrapper{
  opacity: 1;
  transform: scale(1);
}
.navbar{
  background-image: url("../../images/navbar-img.png");
  background-size: 150px;
  background-position: right bottom;
  background-repeat: no-repeat;
  padding: 26px 25px 0 48px;
  position: absolute;
  width: 65%;
  height: 100vh;
  right: -100%;
  background-color: #2C6269;
  transition: all 0.5s;
}
.show-navbar{
  right: 0;
}
.navbar-close-btn{
  width: 100%;
  margin-bottom: 39px;
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  justify-content: end;
}
.navbar-item:first-child{
  margin-bottom: 34px;
}
.navbar-contact-link{
  margin: 0 auto;
  margin-top: 36px;
  width:100%;
  display: block;
}
@media (max-width: 765px){
  .header-logo-wrapper>a>img{
    max-width: 128px;
    height: 32px;
  }
  .header-logo-wrapper{
    gap: 48px;
  }
  .header-contact-link{
    padding: 9px 20px 11px;
  }
}
@media (max-width:545px){
  .site-header{
    padding: 48px 0 80px;
  }
  .header-logo-wrapper a{
    margin-left: 30px;
  }
  .header-contact-link,.header-list{
    display: none;
  }
  .humburger-btn{
    margin-right: 30px;
    display: block;
    cursor: pointer;
  }
}