.ready-section {
  display: flex;
  background-color: #f67e7e;
  align-items: center;
  background-image: url("../images/hero-bg6.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 150px;
}
.ready {
  display: flex;
  padding: 76px 0 76px;
  align-items: center;
}
.ready h2 {
  display: inline-block;
  text-align: center;
  margin-left: 203px;
  margin-right: 260px;
}
.ready a {
  width: 150px;
  padding: 9px 33px 11px;
  border: 2px solid black;
  border-radius: 30px;
  text-align: center;
  color: black;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  transition: all 0.3s;
}
.ready-section > div > div > div > a:hover {
  background-color: black;
  color: white;
}
@media (max-width:915px){
  .ready h2 {
    margin-left: 97px;
    margin-right: 84px;
  }
}
@media (max-width: 631px){
  .ready{
    flex-direction: column;
  }
  .ready h2{
    max-width: 250px;
    margin-bottom: 24px;
  }
}